*.rar
*.pdb

*.exp
*.manifest
*.old
# vs 
*.suo
*.filters
*.ncb
*.sdf
*.user

*.aps
*.h1

*.db
*.bak
*.txt
*.ilk
*.orig
GMCipher.dll
GMCipher64.dll


#floder
/Chrome/samplevsproject/Debug/

/Firefox/npruntime/Debug/
